---
layout: default
---

<script lang = "Javascript">

  $(function() {
    products = Array();

    {% render_products "android", format: "json" %}
    update_content(products, "product");    

    $("#sort_by_price").click(function() {

      update_content(products, "price");

    });

    $("#sort_by_product").click(function() {

      update_content(products, "product");

    });

   });

</script>
                        
			<div class="visual">
				<div class="holder">
					<h1>Android Add-on Modules</h1>
					<div class="cart">
						<div class="box">
							<dl>
								<dt>Cart:</dt>
								<dd>1 item(s)</dd>
							</dl>
							<a href="#" class="btn-checkout">Checkout</a>
						</div>
					</div>
				</div>
			</div>

			<div id="twocolumn">
				<div id="content">
					<ul class="breadcrumbs">
						<li><a href="catalog.html">Categories</a></li>
						<li><a href="#">Android Add-on Modules</a></li>
						<li>Third level active</li>
					</ul>
					<div class="toolbar">
						<div class="paging">
							<strong>Result pages:</strong>
							<ul>
								<li class="active"><a href="#">1</a></li>
							</ul>
						</div>
						<div class="sorter">
							<strong>Sort by:</strong>
							<ul>
								<li class="active"><a id = "sort_by_product">Product</a></li>
								<li><a id = "sort_by_price">Price</a></li>
								<li><a href="#">Default</a></li>
							</ul>
						</div>
					</div>
					<div class="catalogue" data-category="android-add-ons">
						<div class="holder">
							<div class="bg">
                                                        {{ render_products }}
							</div>
						</div>
					</div>
					<div class="toolbar">
						<div class="paging">
							<strong>Result pages:</strong>
							<ul>
								<li class="active"><a href="#">1</a></li>
							</ul>
						</div>
					</div>
				</div>
                                {% include catalog_sidebar.html %}
			</div>
