---
layout: default
---

                 <div class="visual home">
                          <div class="holder">
                            <h1 class = "post-category-title">Categories</h1>
                            </div>
                        </div>
                 </div>

  <div class = "content-container">

  {% include category_box %}

  <div class = "posts-container">

  {% for post in site.posts %}

    <div class = "post category-post" data-categories="{{ post.categories | join "," }}">

      <div class = "post-thumb">
        <img src = "{{ site.url }}/images/posts/{{ post.image }}" />
      </div>

      <div class = "post-info">

        <h2 class = "post-title"><a class = "post-link" href = "{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class = "post-excerpt">
          {{ post.content | strip_html | truncatewords: 90 }}
        </div>

      </div>

      <div class = "clearfix"></div>

      <div class = "post-extra-info">
      Posted on {{ post.date | date: "%d %B %Y" }} | Categories: 

     {% assign categories = post.categories %}
     {{ categories | display_categories }}
      </div>

  </div>


  {% endfor %}

  </div>

  </div>
