---
layout: default
title: Pleco
---

			<div class="visual home">
				<div class="holder">
					<div class="col">
						<h1>We make the world's best Chinese dictionary apps</h1>
						<p>What we need here is a sub paragraph, one to two sentences describing a bit more about the apps. This type of text will be very good for SEO.</p>
						<ul class="download-options">
							<li><a href="#" class="ios">Download for iOS</a></li>
							<li><a href="#" class="android">Download for Android</a></li>
						</ul>
					</div>
					<div class="iphone-ill"><img src="{{ site.url }}/images/img-iphone.jpg" alt="image description" width="216" height="325" /></div>
					<div class="android-ill"><img src="{{ site.url }}/images/img-android.jpg" alt="image description" width="192" height="319" /></div>
				</div>
				<div class="glow"><div class="bg">&nbsp;</div></div>
			</div>
			<div class="entry">
				<p><strong>Pleco Software</strong> is a cool little New York company.  We're profitable, privately-held, and have been in business since 2000, and we back up our products with excellent customer service, an active user community, and generous upgrade policies. <a href="about.html">Learn more about our company »</a></p>
			</div>
			<div class="entry-cols">
				<div class="holder">
					<div class="col-1">
                                                {% include features.html %}
						<a href="{{ site.url }}/features.html" class="more">More »</a>
					</div>
					<div class="col-2">
						<h2>Latest News</h2>
						<ul class="news">
                                                        {% for post in site.posts limit:3 %}	
							<li>
								<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
								<em class="date">{{ post.date | date: "%d %B %Y" }}</em>
								<p>{{ post.content | strip_html | truncatewords: 35 }}<a href="{{ site.url }}{{ post.url }}">Read More »</a></p>
							</li>
                                                        {% endfor %}
						</ul>
						<a href="{{ site.url }}/posts.html" class="more">More »</a>
					</div>
				</div>
			</div>

