			<div class="visual">
				<div class="holder">
					<h1>Check out</h1>
					<div class="cart">
						<div class="box">
							<dl>
								<dt>Cart:</dt>
								<dd>1 item(s)</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="checkout">
				<ul class="checkout-steps">
					<li><span>1.</span> Your Cart</li>
					<li><span>2.</span> Personal Details</li>
					<li><span>3.</span> Active item</li>
					<li class="alt"><span>4.</span> Place Order</li>
				</ul>
				<p>Stroke order diagram module, providing stroke order animations for 20,000 characters. To access this module, tap on any dictionary entry in the list of search results to view it, then tap on the "Stroke" tab. Stroke order diagram module, providing stroke order animations for 20,000 characters. To access this module, tap on any dictionary entry in the list of search results to view it, then tap on the "Stroke" tab.</p>
				<form action="#">
					<fieldset>
						<div class="holder">
							<h2>Personal Information</h2>
							<div class="box">
								<div class="col">
									<div class="row">
										<label for="input">Input:</label>
										<input type="text" class="text" id="input" />
									</div>
									<div class="row">
										<label for="select">Select:</label>
										<select id="select">
											<option>&nbsp;</option>
										</select>
									</div>
									<div class="row">
										<label for="textarea">Textarea:</label>
										<textarea id="textarea" cols="30" rows="10"></textarea>
									</div>
								</div>
								<div class="checkout-info">
									<div class="frame">
										<div class="bg">
											<p>Stroke order diagram module, providing stroke order animations for 20,000 characters. To access this module, tap on any dictionary entry in the list of search results to view it, then tap on the "Stroke" tab. Stroke order diagram module, providing stroke order animations for 20,000 characters. To access this module, tap on any dictionary entry in the list of search results to view it, then tap on the "Stroke" tab.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="holder">
							<h2>Contact Information</h2>
							<div class="box">
								<div class="row">
									<label for="email">Email:</label>
									<input type="text" class="text" id="email" />
								</div>
								<div class="row">
									<label for="confirm">Confirm:</label>
									<input type="text" class="text" id="confirm" />
								</div>
								<div class="row">
									<label>Checkbox?</label>
									<ul class="radio-list">
										<li>
											<input type="checkbox" id="check-1" />
											<label for="check-1">Something</label>
										</li>
										<li>
											<input type="checkbox" id="check-2" />
											<label for="check-2">Something</label>
										</li>
									</ul>
								</div>
								<div class="row">
									<label>Radio</label>
									<ul class="radio-list">
										<li>
											<input type="radio" id="radio-1" name="radio" />
											<label for="radio-1">Something</label>
										</li>
										<li>
											<input type="radio" id="radio-2" name="radio" />
											<label for="radio-2">Something</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="checkout-submit">
							<input type="submit" class="submit" value="Submit" />
							<strong>By clicking "SUBMIT" you agree with our "Terms &amp; Conditions"</strong>
						</div>
					</fieldset>
				</form>
			</div>
