---
layout: default
title: Latest Blog Posts
---

                 <div class="visual home">
                          <div class="holder">
                            <h1>BLOG</h1>
                            </div>
                        </div>


<div class = "site-content">

{% include category_box.html %}

<div class = "posts-container">

{% for post in paginator.posts %}

    <div class = "post">

      <div class = "post-thumb">
        <img src = "{{ site.url }}/images/posts/{{ post.image }}" />
      </div>

      <div class = "post-info">

        <h2 class = "post-title"><a class = "post-link" href = "{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class = "post-excerpt">
          {{ post.content | strip_html | truncatewords: 90 }}
        </div>

      </div>

      <div class = "clearfix"></div>

      <div class = "post-extra-info">
      Posted on {{ post.date | date: "%d %B %Y" }} | Categories: 

     {% assign categories = post.categories %}
     {{ categories | display_categories }}

      </div>

  </div>

{% endfor %}

  </div>

  </div>

<div class="pagination">
  {% if paginator.previous_page %}

    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}/posts.html" title="Previous Page">&laquo; Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% endif %}

  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="{{ site.url}}/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
