---
layout: default
---

			<div class="visual">
				<div class="holder">
					<h1>Sample Page Title Here</h1>
				</div>
			</div>
			<div id="twocolumn" class="alt">

{% include ios-introduction.html %}
{% include ios-pricing.html %}
{% include ios-purchase.html %}
{% include ios-platform.html %}
{% include ios-screenshots.html %}
{% include ios-instructions.html %}
{% include android-product-information.html %}
{% include windows-introduction.html %}
{% include windows-pricing.html %}
{% include windows-purchase.html %}
{% include windows-platform.html %}
{% include windows-screenshots.html %}
{% include windows-instruction.html %}
{% include palm-introduction.html %}
{% include palm-pricing.html %}
{% include palm-platform.html %}
{% include palm-screenshots.html %}
{% include palm-instruction.html %}
{% include dictionaries-a.html %}
{% include dictionaries-b.html %}
{% include dictionaries-c.html %}
{% include dictionaries-d.html %}
{% include guifan-cidian.html %}
{% include twentyfirst-century.html %}
{% include tuttle-learners.html %}
{% include dictionaries-e.html %}

       				<div id="content">

                                  {% include introduction.html %}

				</div>

				<div id="sidebar">
					<div class="side-box">
						<h3 class="ios">For iOS</h3>
						<div class="holder">
							<ul>
								<li class="active"><a href="#" class = "expandable-link" data-target="ios-introduction">Introduction</a></li>
								<li><a href="#" class = "expandable-link" data-target="ios-pricing">Pricing / Bundles</a></li>
								<li><a href="#" class = "expandable-link" data-target="ios-purchase">How to Purchase</a></li>
								<li><a href="#" class = "expandable-link" data-target="ios-platform">Platform Transfers</a></li>
								<li><a href="#" class = "expandable-link" data-target="ios-screenshots">Screenshots</a></li>
								<li><a href="#" class = "expandable-link" data-target="ios-instructions">Instruction Manual</a></li>
							</ul>
						</div>
						<h3 class="android">For Android</h3>
						<div class="holder">
							<ul>
								<li><a class = "expandable-link" data-target="android-product-information" href="#">Product Information</a></li>
							</ul>
						</div>
						<h3 class="windows">For Windows/Palm</h3>
						<div class="holder">
							<ul>
								<li><a href="#" class = "expandable-link" data-target="windows-introduction">Introduction</a></li>
								<li><a href="#" class = "expandable-link" data-target="windows-pricing">Pricing / Bundles</a></li>
								<li><a href="#" class = "expandable-link" data-target="windows-purchase">How to Purchase</a></li>
								<li><a href="#" class = "expandable-link" data-target="windows-platform">Platform Transfers</a></li>
								<li><a href="#" class = "expandable-link" data-target="windows-screenshots">Screenshots</a></li>
								<li><a href="#" class = "expandable-link" data-target="windows-instruction">Instruction Manual</a></li>
							</ul>
						</div>
						<h3 class="books">PlecoDict for Palm</h3>
						<div class="holder">
							<ul>
								<li><a href="#" class = "expandable-link" data-target="palm-introduction">Introduction</a></li>
								<li><a href="#" class = "expandable-link" data-target="palm-pricing">Pricing / Bundles</a></li>
								<li><a href="#" class = "expandable-link" data-target="palm-platform">Platform Transfers</a></li>
								<li><a href="#" class = "expandable-link" data-target="palm-screenshots">Screenshots</a></li>
								<li><a href="#" class = "expandable-link" data-target="palm-instruction">Instruction Manual</a></li>
							</ul>
						</div>
						<h3 class="books">Dictionaries</h3>
						<div class="holder">
							<ul>
								<li><a href="#" class = "expandable-link" data-target="dictionaries-a">ABC C-E</a></li>
								<li><a href="#" class = "expandable-link" data-target="dictionaries-b">ABC E-C</a></li>
								<li><a href="#" class = "expandable-link" data-target="dictionaries-c">NWP E-C</a></li>
								<li><a href="#" class = "expandable-link" data-target="dictionaries-d">C&amp;T Business</a></li>
								<li><a href="#" class = "expandable-link" data-target="guifan-cidian">Guifan Cidian</a></li>
								<li><a href="#" class = "expandable-link" data-target="twentyfirst-century">>21st Century</a></li>
								<li><a href="#" class = "expandable-link" data-target="tuttle-learners">Tuttle Learner’s</a></li>
								<li><a href="#" class = "expandable-link" data-target="dictionaries-e">A C-E Dictionary</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
