                                <div id="sidebar">
                                        <div class="side-box">
                                                <h3 class="books">Categories</h3>
                                                <div class="holder">
                                                        <ul>
                                                                <li><a href="android-add-ons.html">Android Add-on Modules</a></li>
                                                                <li><a href="android-bundles.html">Android Bundles </a></li>
                                                                <li><a href="pleco-dict-palm.html">PlecoDict 1.0 for Palm OS </a></li>
                                                                <li><a href="windows-mobile-palm-bundles.html">Windows Mobile / Palm OS Bundles </a></li>
                                                                <li><a href="windows-mobile-palm-upgrades.html">Windows Mobile / Palm OS Upgrades </a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <div class="side-box">
                                                <h3 class="books">Specials</h3>
                                                <div class="holder">
                                                        <ul>
                                                                <li><a href="#">Gift Certificates</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                              </div>

