
		<div id="sidebar">
			<div class="side-box category-box">
				<h3>Categories</h3>
  				<div class="holder">
                                        <ul id = "category-list">
                                        {% for category in site.categories %}
                                        <li><a href = "#" class = "category-link" data-category="{{ category[0] }}" data-category-name="{{ category[0] | humanize }}">{{ category[0] | humanize }}</a></li>
                                        {% endfor %}
					</ul>
				</div>
                        </div>
                </div>
