					<div class="app-visual">
						<p>What we need here is a sub paragraph, one to two sentences describing a bit more about the apps. This type of text will be very good for SEO.</p>
						<div class="btn-holder"><a href="#" class="download">Download for iOS</a></div>
						<div class="iphone-portrait"><img src="images/img-iphone-portrait.jpg" alt="image description" width="199" height="298" /></div>
						<div class="iphone-landscape"><img src="images/img-iphone-landscape.jpg" alt="image description" width="299" height="199" /></div>
					</div>
					<div class="app-gallery">
						<ul>
							<li>
								<img src="images/img-app-gallery-1.jpg" alt="image description" width="102" height="102" />
								<span class="btn-zoom">Zoom</span>
								<a href="images/img-app-gallery-big-1.jpg" title="image 1" rel="app" class="section-link">&nbsp;</a>
							</li>
							<li>
								<img src="images/img-app-gallery-1.jpg" alt="image description" width="102" height="102" />
								<span class="btn-zoom">Zoom</span>
								<a href="images/img-app-gallery-big-1.jpg" title="image 2" rel="app" class="section-link">&nbsp;</a>
							</li>
							<li>
								<img src="images/img-app-gallery-1.jpg" alt="image description" width="102" height="102" />
								<span class="btn-zoom">Zoom</span>
								<a href="images/img-app-gallery-big-1.jpg" title="image 3" rel="app" class="section-link">&nbsp;</a>
							</li>
							<li>
								<img src="images/img-app-gallery-1.jpg" alt="image description" width="102" height="102" />
								<span class="btn-zoom">Zoom</span>
								<a href="images/img-app-gallery-big-1.jpg" title="image 4" rel="app" class="section-link">&nbsp;</a>
							</li>
							<li>
								<img src="images/img-app-gallery-1.jpg" alt="image description" width="102" height="102" />
								<span class="btn-zoom">Zoom</span>
								<a href="images/img-app-gallery-big-1.jpg" title="image 5" rel="app" class="section-link">&nbsp;</a>
							</li>
						</ul>
					</div>
					<div class="app-info">
						<div class="bg">
							<div class="col-1">
								<h2>Features</h2>
								<ul>
									<li>Exceptional Feature here</li>
									<li>Another feature that wraps to multiple lines because we can</li>
									<li>More Features</li>
									<li>Feature 3 is somewhat shorter</li>
									<li>Feature 4 is awesome</li>
									<li>Feature 5 is okay</li>
								</ul>
							</div>
							<div class="col-2">
								<h2>Steps</h2>
								<ol>
									<li><span>Exceptional Feature here</span></li>
									<li><span>Another feature that wraps to multiple lines because we can</span></li>
									<li><span>More Features</span></li>
									<li><span>Feature 3 is somewhat shorter</span></li>
									<li><span>Feature 4 is awesome</span></li>
									<li><span>Feature 5 is okay</span></li>
								</ol>
							</div>
						</div>
					</div>
</span>
