    <div class = "post">

      <div class = "post-thumb">
        <img src = "{{ site.url }}/images/posts/{{ post.image }}" />
      </div>

      <div class = "post-info">

        <h2 class = "post-title"><a class = "post-link" href = "{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class = "post-excerpt">
          {{ post.content | strip_html | truncatewords: 90 }}
        </div>

      </div>

      <div class = "clearfix"></div>

      <div class = "post-extra-info">
      Posted on {{ post.date | date: "%d %B %Y" }} | Categories: 

     {% assign categories = post.categories %}
     {{ categories | display_categories }}

      </div>

  </div>
