.pleco-logo {
  width: 30%;
  float: left;
  text-align: center;
}

.pleco-intro {
  width: 65%;
  float: right;
}

#page-content {
  width: 65%;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}

.post-category-title {
  color: #000;
  margin: 10px;
}



#category-list {
  text-align: left;
  margin-left: 15px;
  margin-top: 0;
}

#category-list a {
}

#category-list li {
  display: inline-block;
  margin: 3px;
  padding: 1px;
  padding-left: 12px;
  list-style-type: none;
}

.post-extra-info {
  padding-top: 10px;
}

.post-link {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.about {
  margin: 10px;
  width: 60%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  margin: 15px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

#post {
  font-family: "Museo Sans 500", Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: #333;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 10px;
  padding-top: 0;
}

.post-content {
  font-size: 1em;
  font-family: "Museo Sans 500", Arial, Helvetica, sans-serif;
}

.post-title {
  display: inline-block;
}

.post-header-date {
  text-align: right;
  font-weight: bold;
}

.post-categories {
  text-align: right;
}

.content-container {
  display: none;
}

.posts-container {
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  text-align: center;  
}

.post {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 30px;
}

.post-header-category {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  margin-left: 40px;
  font-size: 0.8em;
}

.post-thumbnail {
  width: 150px;
  height: 150px;
  display: inline;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
}

.post-thumb {
 width: 40%;
 float: left;
}

.post-info {
 width: 60%;
 float: left;
}

.posts-container {
  display: inline-block;
  width: 60%;
}

.section-title {
  color: #111;
}

.pagination {
  text-align: center;
  margin: 5px;
}

h1,h2,h3,h4 {
        font-family: 'Museo Sans 500', Arial, Helvetica, sans-serif;
}

.site-content {
  width: 75%;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

.category-box {
  margin: 15px;
}
