* { 
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body {
	color:#333;
	font:12px arial,sans-serif;
	background:#fff;
}
a {
	text-decoration:underline;
	color:#000;
}
a:hover {text-decoration:none;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
body{
	margin:0;
	font:14px/20px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#797979;
	min-width:1000px;
	background:#fff;
}
a{
	text-decoration:underline;
	color:#01759d;
}
a:hover{text-decoration:none;}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
img{border:none;}
input,select,textarea{
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#474848;
}
.wrap{overflow:hidden;}
q{quotes: none;}
q:before{content:"";}
q:after{content:"";}
#header .holder:after,
.visual .holder:after,
.entry-cols .holder:after,
.features .row:after,
.app-gallery:after,
#twocolumn:after,
.app-info:after,
.app-info .bg:after,
.side-box ul:after,
.checkout .row:after,
.checkout .box:after{
	display:block;
	clear:both;
	content:"";
}
#wrapper{width:100%;}
#header{
	width:100%;
	background:url(../images/bg-header.png) repeat-x;
	margin:0 0 -5px;
	position:relative;
	z-index:2;
	height:96px;
	overflow:hidden;
}
#header .holder{
	width:960px;
	margin:0 auto;
}
.logo{
	float:left;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg-logo.png) no-repeat;
	height:72px;
	width:220px;
	margin:14px 0 0 -5px;
	position:relative;
}
.logo a{
	display:block;
	height:100%;
}
#header .col{
	float:right;
	width:620px;
}
.ad-nav{
	margin:0 -20px -15px 0;
	position:relative;
	padding:10px 20px 43px 0;
	list-style:none;
	background:url(../images/bg-ad-nav.png) no-repeat 100% 100%;
	text-align:right;
	line-height:normal;
	width:620px;
}
.ad-nav li{
	list-style:none outside;
	display:inline;
	margin:0 0 0 22px;
}
.ad-nav a{
	color:#777;
	text-decoration:none;
}
.ad-nav a:hover{text-decoration:underline;}
#nav{
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	font:18px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	position:relative;
	z-index:1;
}
#nav li{
	list-style:none outside;
	display:inline;
	margin:0 0 0 25px;
}
#nav a{
	color:#fff;
	text-decoration:none;
}
#nav a:hover{text-decoration:underline;}
#nav li.active a{color:#35a7d1;}
.cart{
	float:right;
	background:url(../images/bg-cart.png) no-repeat 100% -57px;
	position:relative;
	margin:-8px 0 -12px;
	padding:0 15px 0 0;
}
.cart .box{
	float:left;
	padding:0 0 0 57px;
	height:54px;
	background:url(../images/bg-cart.png) no-repeat;
}
.cart dl{
	float:left;
	margin:17px 0 0;
	font:16px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:0 2px 2px #0e6f92;
}
.cart dt{
	float:left;
	color:#2fa5cf;
	margin:0 7px 0 0;
}
.cart dd{
	float:left;
	margin:0;
}
.btn-checkout{
	float:left;
	color:#fff;
	text-decoration:none;
	background:url(../images/btn.png) no-repeat -304px -61px;
	width:112px;
	height:34px;
	text-align:center;
	font:16px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:5px -12px 0 18px;
	padding:12px 0 0;
	text-shadow:0 2px 2px #0e6f92;
}
.btn-checkout:hover{background-position:-304px -171px;}
#main{width:100%;}
#twocolumn{
	width:960px;
	margin:0 auto;
	padding:40px 0 148px;
}
#twocolumn.alt{padding:40px 0 12px;}
#content{
	float:right;
	width:740px;
}
.breadcrumbs{
	margin:0 0 19px;
	padding:13px 21px 0;
	height:27px;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	overflow:hidden;
	list-style:none;
	background:#f4f4f4;
	border:1px solid #d7d7d7;
	box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-box-shadow:0 1px 4px #d7d7d7 inset;
	-moz-box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#666;
	position:relative;
}
.breadcrumbs li{
	float:left;
	list-style:none outside;
}
.breadcrumbs a{
	float:left;
	height:23px;
	margin:-11px 15px 0 0;
	padding:11px 22px 0 0;
	position:relative;
	background:url(../images/arrow-breadcrumbs.png) no-repeat 100% 0;
	color:#797979;
}
.toolbar{
	padding:0 0 17px 21px;
	overflow:hidden;
}
.paging{float:left;}
.paging strong{
	float:left;
	color:#aaa;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.paging ul{
	float:left;
	margin:0 0 0 -7px;
	padding:0;
	list-style:none;
	overflow:hidden;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.paging ul li{
	float:left;
	background:url(../images/sep-grey.gif) no-repeat 0 50%;
	margin:0 1px 0 -1px;
	padding:0 12px 0 14px;
	list-style:none outside;
}
.paging ul a{color:#aaa;}
.paging li.active a{
	color:#00759f;
	text-decoration:none;
}
.paging li.next{
	background:none;
	padding:0;
}
.paging li.next a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:13px;
	height:13px;
	background:url(../images/btn.png) no-repeat -266px -63px;
	margin:1px 0 0;
}
.sorter{float:right;}
.sorter strong{
	float:left;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.sorter ul{
	float:left;
	margin:0 5px 0 0;
	padding:0;
	list-style:none;
	overflow:hidden;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.sorter ul li{
	float:left;
	background:url(../images/sep-grey.gif) no-repeat 0 50%;
	margin:0 1px 0 -1px;
	padding:0 13px 0 15px;
	list-style:none outside;
}
.sorter ul a{color:#aaa;}
.sorter ul li.active a{
	background:url(../images/ico-sort.gif) no-repeat 0 50%;
	padding:0 0 0 18px;
	color:#00759f;
}
.catalogue{
	padding:1px 0 0;
	background:url(../images/sep-dotted-hor.gif) repeat-x;
	margin:0 0 18px;
}
.catalogue .holder{
	width:100%;
	overflow:hidden;
	background:url(../images/sep-dotted-hor.gif) repeat-x 0 100%;
	padding:0 0 1px;
}
.catalogue .bg{
	width:800px;
	margin:0 -60px 0 0;
	background:url(../images/sep-dotted-ver.gif) repeat-y 370px 0;
	padding:28px 0 30px;
	overflow:hidden;
}
.catalogue .col{
	float:left;
	width:266px;
	margin:0 60px 0 0;
	padding:0 0 20px 74px;
	position:relative;
	min-height:180px;
}
.catalogue .category-1{background:url(../images/ico-catalogue.png) no-repeat;}
.catalogue .category-2{background:url(../images/ico-catalogue.png) no-repeat -400px 0;}
.catalogue .category-3{background:url(../images/ico-catalogue.png) no-repeat 0 -260px;}
.catalogue .category-4{background:url(../images/ico-catalogue.png) no-repeat -400px -260px;}
.catalogue .category-5{background:url(../images/ico-catalogue.png) no-repeat 0 -520px;}
.catalogue .category-6{background:url(../images/ico-catalogue.png) no-repeat -400px -520px;}
.catalogue h2{
	font:14px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#237bc1;
	margin:0 0 13px;
}
.catalogue h2 a{text-decoration:none;}
.catalogue h2 a:hover{text-decoration:underline;}
.catalogue p{
	font:12px/18px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:0 0 15px;
}
.catalogue .price{
	position:absolute;
	top:78px;
	left:0;
	text-align:center;
	width:65px;
	font-style:normal;
	color:#00759f;
}
.catalogue .more{
	position:absolute;
	float:none;
	bottom:0;
	right:0;
}
#sidebar{
	float:left;
	width:180px;
}
.side-box{
	margin:0 0 20px;
	border:1px solid #d7d7d7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height:1%;
}
.side-box h3{
	font:14px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#237bc1;
	margin:11px 11px 12px;
	padding:2px 0 0 21px;
}
.side-box .books{background:url(../images/ico-side-headings.gif) no-repeat -48px 0;}
.side-box .android{
	background:url(../images/ico-side-headings.gif) no-repeat -33px -18px;
	margin:11px 6px 12px;
	padding:2px 0 0 26px;
}
.side-box .windows{
	background:url(../images/ico-side-headings.gif) no-repeat -15px -36px;
	margin:11px 6px 12px;
	padding:2px 0 0 26px;
}
.side-box .ios{background:url(../images/ico-side-headings.gif) no-repeat 0 -54px;}
.side-box .holder{
	background:#f4f4f4;
	box-shadow:0 1px 3px #d7d7d7 inset;
	-webkit-box-shadow:0 1px 3px #d7d7d7 inset;
	-moz-box-shadow:0 1px 3px #d7d7d7 inset;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
}
.side-box .holder.last{border-bottom:none;}
.side-box ul{
	margin:0;
	padding:17px 0 9px;
	list-style:none;
	font:12px/18px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	width:100%;
}
.side-box ul li{
	list-style:none outside;
	padding:0 34px 6px;
	margin:0 -1px;
	position:relative;
	float:left;
	width:112px;
}
.side-box ul a{
	color:#797979;
	text-decoration:none;
}
.side-box ul li.active{background:url(../images/bg-side-nav-active.gif) no-repeat 0 4px;}
.side-box ul li.active a{color:#111;}
.side-box ul a:hover{
	color:#3b80b8;
	text-decoration:underline;
}
.visual{
	width:100%;
	background:url(../images/bg-visual.png); 
	position:relative;
	box-shadow:0 -2px 6px #005a7b;
	-webkit-box-shadow:0 -2px 6px #005a7b inset;
	-moz-box-shadow:0 -2px 6px #005a7b inset;
}
.visual .holder{
	width:960px;
	margin:0 auto;
	position:relative;
	z-index:1;
	padding:28px 0 34px;
}
.visual .glow{
	position:absolute;
	width:100%;
	overflow:hidden;
	left:0;
	top:0;
	height:449px;
}
.visual .glow .bg{
	width:784px;
	position:absolute;
	left:50%;
	top:0;
	background:url(../images/bg-visual-glow.png) no-repeat;
	height:449px;
	margin:0 0 0 -135px;
}
.visual .col{
	width:480px;
	padding:47px 0 0;
	min-height:340px;
}
.visual h1{
	margin:0;
	color:#fff;
	font:30px 'Museo Slab 500', Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
	float:left;
}
.visual .col h1{
	float:none;
	width:520px;
	margin:0 -40px 30px 0;
	font:44px/44px 'Museo Slab 500', Arial, Helvetica, sans-serif;
}
.visual p{
	color:#69d1f7;
	font:18px/22px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:0 0 35px;
	text-shadow:0 2px 2px #0e6f92;
}
.download-options{
	width:468px;
	margin:0 -1px;
	position:relative;
	background:url(../images/bg-download-options.png) no-repeat;
	height:67px;
	padding:7px 7px 0;
	list-style:none;
}
.download-options li{
	float:left;
	list-style:none inside;
}
.download-options a{
	display:block;
	color:#fff;
	width:187px;
	height:58px;
	padding:0 0 0 46px;
	font:16px/58px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	text-shadow:0 2px 2px #0e6f92;
	text-decoration:none;
}
.download-options .ios{background:url(../images/btn.png) no-repeat;}
.download-options .ios:hover{background-position:0 -218px;}
.download-options .android{
	background:url(../images/btn.png) no-repeat -233px 0;
	padding-left:51px;
	width:182px;
}
.download-options .android:hover{background-position:-233px -218px;}
.android-ill{
	position:absolute;
	right:2px;
	bottom:-91px;
	background:url(../images/bg-mobile-phones.png) no-repeat;
	width:192px;
	height:390px;
	padding:68px 19px 0 23px;
}
.iphone-ill{
	position:absolute;
	background:url(../images/bg-mobile-phones.png) no-repeat -246px 0;
	width:214px;
	height:417px;
	padding:89px 21px 0;
	right:161px;
	bottom:-130px;
	z-index:1;
}
.android-ill img,
.iphone-ill img{display:block;}
.entry{
	width:460px;
	margin:0 auto;
	padding:35px 500px 66px 0;
	background:url(../images/sep-dotted-ver.gif) repeat-y 480px 0;
}
.entry p{
	margin:0;
	word-spacing:-1px;
}
.entry p strong{
	color:#01759d;
	font-weight:normal;
}
.entry-cols{
	width:100%;
	background:url(../images/sep-dotted-hor.gif) repeat-x;
	padding:1px 0 0;
}
.entry-cols .holder{
	width:960px;
	margin:0 auto;
	background:url(../images/sep-dotted-ver.gif) repeat-y 480px 0;
	padding:20px 0 40px;
}
.entry-cols .col-1{
	float:left;
	width:440px;
	margin:-35px 0 0;
	position:relative;
}
.entry-cols .col-2{
	float:right;
	width:440px;
	margin:-35px 0 0;
	position:relative;
}
.entry-cols h2{
	display:inline-block;
	margin:0 0 36px;
	padding:0 19px;
	background:#0c7ca5 url(../images/bg-heading.gif) repeat-x;
	font:14px/29px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#fff;
}
*+ html .entry-cols h2{display:inline;}
.features{
	width:100%;
	overflow:hidden;
	padding:0 0 3px;
}
.features .row{
	width:480px;
	margin:0 -40px 32px 0;
}
.features .col{
	float:left;
	width:200px;
	margin:0 40px 0 0;
}
.features h3{
	padding:0 0 0 53px;
	margin:0 0 7px;
	color:#4e4e4e;
	font:18px/22px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	min-height:47px;
	word-spacing:-1px;
}
.features h3 a{
	color:#4e4e4e;
	text-decoration:none;
}
.features h3 a:hover{text-decoration:underline;}
.features p{margin:0;}
.features .feature-1{background:url(../images/ico-features.png) no-repeat;}
.features .feature-2{
	background:url(../images/ico-features.png) no-repeat -237px 0;
	margin:0 0 7px -3px;
	position:relative;
	padding:0 0 0 56px;
}
.features .feature-3{background:url(../images/ico-features.png) no-repeat 0 -146px;}
.features .feature-4{
	background:url(../images/ico-features.png) no-repeat -240px -144px;
	margin-top:-3px;
	position:relative;
	padding-top:3px;
}
.more{
	float:right;
	border:1px solid #d7d7d7;
	padding:0 17px;
	text-decoration:none;
	height:29px;
	line-height:29px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.more:hover{text-decoration:underline;}
.news{
	margin:-17px 0 19px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.news li{
	list-style:none outside;
	padding:17px 0 15px;
	background:url(../images/sep-dotted-hor.gif) repeat-x 0 100%;
	margin:1px 0 -1px;
}
.news h3{
	font:18px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:0 0 3px;
	color:#4e4e4e;
}
.news h3 a{
	color:#4e4e4e;
	text-decoration:none;
}
.news h3 a:hover{text-decoration:underline;}
.news .date{
	color:#30a5cf;
	display:block;
	margin:0 0 11px;
	font-style:normal;
}
.news p{margin:0;}
.app-visual{
	padding:50px 0 0 340px;
	text-align:center;
	position:relative;
	min-height:444px;
	margin:0 0 55px;
}
.app-visual .iphone-portrait{
	position:absolute;
	background:url(../images/bg-mobile-phones.png) no-repeat -504px 0;
	width:198px;
	height:388px;
	padding:83px 18px 0 20px;
	left:59px;
	bottom:0;
	z-index:1;
}
.app-visual .iphone-landscape{
	position:absolute;
	background:url(../images/bg-mobile-phones.png) no-repeat 0 -507px;
	width:298px;
	height:224px;
	padding:17px 82px 0;
	left:198px;
	bottom:37px;
}
.iphone-portrait img,
.iphone-landscape img{display:block;}
.app-visual p{
	font:16px/19px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:0 0 17px;
}
.app-visual .btn-holder{
	border:1px solid #d7d7d7;
	box-shadow:0 0 3px #d7d7d7 inset;
	-webkit-box-shadow:0 0 3px #d7d7d7 inset;
	-moz-box-shadow:0 0 3px #d7d7d7 inset;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:7px 6px 5px;
	width:201px;
	margin:0 auto;
	background:#f4f4f4;
}
.app-visual .download{
	display:block;
	color:#fff;
	width:155px;
	height:58px;
	padding:0 0 0 46px;
	text-align:left;
	font:16px/58px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	text-shadow:0 2px 2px #0e6f92;
	text-decoration:none;
	background:url(../images/btn.png) no-repeat 0 -109px;
}
.app-visual .download:hover{background:url(../images/btn.png) no-repeat 0 -279px;}
.app-gallery{
	margin:0 -8px 30px -7px;
	background:url(../images/bg-app-gallery.jpg) no-repeat;
	height:153px;
	width:745px;
	list-style:none;
	padding:41px 5px 0;
}
.app-gallery ul{
	margin:0 0 0 -28px;
	padding:0;
	list-style:none;
	width:773px;
}
.app-gallery li{
	float:left;
	background:url(../images/bg-app-gallery-item.png) no-repeat;
	height:102px;
	width:102px;
	position:relative;
	list-style:none outside;
	padding:12px;
	margin:0 0 0 28px;
}
.app-gallery img{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:0 0 4px #d9d9d9;
	-webkit-box-shadow:0 0 4px #d9d9d9;
	-moz-box-shadow:0 0 4px #d9d9d9;
}
.app-gallery .section-link{
	position:absolute;
	top:-16px;
	right:-16px;
	height:142px;
	overflow:hidden;
	text-indent:-9999px;
	width:142px;
	background:url(../images/none.gif);
}
.btn-zoom{
	position:absolute;
	top:-16px;
	right:-16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/btn.png) no-repeat -424px -61px;
	width:40px;
	height:40px;
}
.app-info{
	width:100%;
	padding:1px 0 0;
	background:url(../images/sep-dotted-hor.gif) repeat-x;
}
.app-info .bg{
	background:url(../images/sep-dotted-ver.gif) repeat-y 360px 0;
	height:1%;
	padding:20px 50px 60px 17px;
}
.app-info .col-1{
	float:left;
	width:310px;
	margin:-35px 0 0;
	position:relative;
}
.app-info .col-2{
	float:right;
	width:310px;
	margin:-35px 0 0;
	position:relative;
}
.app-info h2{
	display:inline-block;
	margin:0 0 33px 22px;
	padding:0 19px;
	background:#0c7ca5 url(../images/bg-heading.gif) repeat-x;
	font:14px/29px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#fff;
}
*+ html .app-info h2{display:inline;}
.app-info ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:23px;
}
.app-info ul li{
	background:url(../images/ico-tick.gif) no-repeat 0 6px;
	padding:0 0 0 23px;
	list-style:none outside;
	margin:0 0 2px;
}
.app-info ol{
	margin:0 0 0 -10px;
	position:relative;
	padding:0 0 0 30px;
	line-height:23px;
	color:#00759f;
}
.app-info ol li{
	list-style-position:outside;
	margin:0 0 2px;
}
.app-info ol span{color:#797979;}
.checkout{
	width:960px;
	margin:0 auto;
	padding:40px 0 220px;
}
.checkout-steps{
	margin:0 0 23px;
	padding:3px 21px 0 119px;
	height:37px;
	font:12px/34px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	overflow:hidden;
	list-style:none;
	background:#f4f4f4 url(../images/ico-cart.png) no-repeat 41px 12px;
	border:1px solid #d7d7d7;
	box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-box-shadow:0 1px 4px #d7d7d7 inset;
	-moz-box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#aaa;
	position:relative;
	white-space:nowrap;
}
.checkout-steps li{
	float:left;
	list-style:none outside;
	background:url(../images/arrow-breadcrumbs.png) no-repeat;
	height:34px;
	padding:0 63px 0 68px;
}
.checkout-steps span{color:#00759f;}
.checkout-steps .alt{padding-right:0;}
.checkout p{
	margin:0 0 43px;
	font:12px/18px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.checkout .holder{
	padding:0 0 37px 19px;
	overflow:hidden;
	background:url(../images/sep-dotted-hor.gif) repeat-x 0 14px;
}
.checkout .holder h2{
	display:inline-block;
	margin:0 0 30px;
	position:relative;
	padding:0 19px;
	background:#0c7ca5 url(../images/bg-heading.gif) repeat-x;
	font:14px/29px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	color:#fff;
}
*+ html .checkout .holder h2{display:inline;}
.checkout .box{width:100%;}
.checkout .col{
	float:left;
	width:462px;
}
.checkout .row{
	height:1%;
	padding:0 0 7px 2px;
}
.checkout label{
	float:left;
	margin:6px 5px 0 0;
	width:76px;
	font-size:12px;
}
.checkout .text,
.checkout textarea{
	float:left;
	background:#f4f4f4;
	border:1px solid #d7d7d7;
	box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-box-shadow:0 1px 4px #d7d7d7 inset;
	-moz-box-shadow:0 1px 4px #d7d7d7 inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:367px;
	padding:9px 5px;
	margin:0;
}
.checkout textarea{
	max-width:367px;
	min-width:367px;
	height:115px;
}
.checkout select{
	width:379px;
	margin:6px 0 0;
}
.checkout-info{
	float:right;
	width:399px;
	background:url(../images/sep-dotted-hor.gif) repeat-x;
	padding:1px 0 0;
	color:#959595;
}
.checkout-info .frame{
	background:url(../images/sep-dotted-hor.gif) repeat-x 0 100%;
	padding:0 0 1px;
}
.checkout-info .bg{
	background:url(../images/sep-dotted-ver-alt.gif) repeat-y;
	padding:36px 40px;
	overflow:hidden;
}
.checkout-info p{margin:0;}
.checkout .check-list,
.checkout .radio-list{
	float:left;
	margin:0;
	padding:0 0 10px;
	list-style:none;
}
.checkout .check-list li,
.checkout .radio-list li{
	float:left;
	list-style:none outside;
	margin:0 34px 0 0;
}
.checkout .check-list li label,
.checkout .radio-list li label{
	width:auto;
	margin-right:0;
}
.checkout .check-list li input,
.checkout .radio-list li input{
	float:left;
	width:14px;
	height:15px;
	padding:0;
	margin:8px 8px 0 0;
}
.checkout-submit{
	margin:12px -4px 0;
	width:764px;
	position:relative;
	background:url(../images/bg-checkout-submit.gif) no-repeat;
	padding:48px 102px 0;
	overflow:hidden;
}
.checkout .submit{
	float:left;
	border:none;
	margin:0 14px 0 0;
	background:url(../images/btn.png) no-repeat -213px -109px;
	width:111px;
	height:48px;
	color:#fff;
	cursor:pointer;
	font-size:16px;
}
.checkout .submit:hover{background-position:-213px -279px;}
.checkout-submit strong{
	float:left;
	margin:17px 0 0;
	color:#606060;
	font:12px 'Museo Sans 500', Arial, Helvetica, sans-serif;
}
.promo{
	width:100%;
	background:#f4f4f4 url(../images/bg-promo-t.gif) repeat-x;
}
.promo-bg{
	width:100%;
	background:url(../images/bg-promo-b.gif) repeat-x 0 100%;
	padding:40px 0;
}
.promo .holder{
	width:886px;
	margin:0 auto;
	overflow:hidden;
	padding:0 74px 0 0;
}
#subscribeform{
	float:left;
	background:#dbdbdb url(../images/bg-newsletter.gif) no-repeat;
	height:50px;
	width:418px;
	padding:11px;
}
#subscribeform .text{
	float:left;
	font:16px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:0;
	background:none;
	border:none;
	width:240px;
	padding:17px 11px 14px;
}
#subscribeform .submit{
	float:right;
	color:#fff;
	background:url(../images/btn.png) no-repeat 0 -61px;
	width:154px;
	height:46px;
	font:16px/46px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:4px 1px 0 0;
	padding:0 0 2px 57px;
	border:none;
	text-align:left;
	cursor:pointer;
	text-shadow:0 2px 2px #0e6f92;
}
#subscribeform .submit:hover{background-position:0 -171px;}
.social{
	float:right;
	padding:14px 0 0;
}
.social strong{
	float:left;
	color:#797979;
	font:16px 'Museo Sans 500', Arial, Helvetica, sans-serif;
	margin:15px 10px 0 0;
}
.social ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.social ul li{
	float:left;
	list-style:none outside;
}
.social ul a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:45px;
	height:47px;
}
.social .twitter{background:url(../images/btn.png) no-repeat -175px -60px;}
.social .twitter:hover{background-position:-175px -170px;}
.social .facebook{background:url(../images/btn.png) no-repeat -220px -60px;}
.social .facebook:hover{background-position:-220px -170px;}
#footer{
	padding:37px 0 42px;
	text-align:center;
	font-size:12px;
}
#footer p{margin:0;}
.outtaHere {
	position:absolute;
	left:-3000px;
}
/* Checkboxes */
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:18px;
	height:18px;
	overflow:hidden;
	background: url(../images/bg-checkbox.gif) no-repeat;
	margin:6px 8px 0 0;
	cursor:pointer;
}
.checkboxArea.active{background-position:0 -40px;}
.checkboxAreaChecked {background-position:0 -20px;}
.checkboxAreaChecked.active {background-position:0 -60px;}
/* Radio buttons */
.radioArea, .radioAreaChecked {
	float:left;
	width:18px;
	height:18px;
	overflow:hidden;
	background: url(../images/bg-radio.gif) no-repeat;
	margin:6px 8px 0 0;
	cursor:pointer;
}
.radioArea.active{background-position:0 -40px;}
.radioAreaChecked {background-position:0 -20px;}
.radioAreaChecked.active {background-position:0 -60px;}
/* Selects */
.selectArea {
	float:left;
	position: relative;
	height:35px;
	color:#474848;
	font:13px/35px 'Museo Sans 500',Arial, Helvetica, sans-serif;
	background:url(../images/bg-select.gif) no-repeat;
}
.selectArea.active{background-position:0 -37px;}
.selectArea a.selectButton {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:35px;
	background:url(../images/btn.png) no-repeat 100% -338px;
	overflow:hidden;
	text-indent:-9999px;
}
.selectArea.active a.selectButton{background-position:100% -375px;}
.selectArea .center{padding:0 35px 0 5px;}
/* selects drop-down */
.selectOptions {
	position:absolute;
	z-index:30;
	font-size:11px;
}
.selectOptions ul {
	margin:0;
	padding:1px;
	overflow:hidden;
	list-style:none;
	background-color:#fff;
	border:1px solid #bcccd9;
}
.selectOptions ul li{list-style:none outside;}
.selectOptions a {
	color:#000;
	text-decoration:none;
	display:block;
	padding:2px 4px;
	height:1%;
	overflow:hidden;
}
.selectOptions a:hover {
	background-color:#696668;
	color:#fff;
}
