/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
	font-family: 'Museo Sans 500';
	src: url('../fonts/museosans_500-webfont.eot?') format('eot'),
	url('../fonts/museosans_500-webfont.woff') format('woff'),
	url('../fonts/museosans_500-webfont.ttf') format('truetype'),
	url('../fonts/museosans_500-webfont.svg#filename') format('svg');
}
@font-face {
	font-family: 'Museo Slab 500';
	src: url('../fonts/museo_slab_500-webfont.eot?') format('eot'),
	url('../fonts/museo_slab_500-webfont.woff') format('woff'),
	url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
	url('../fonts/museo_slab_500-webfont.svg#filename') format('svg');
}