<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Pleco {% if page.title %} | {{ page.title }} {% endif %}</title>

        {% css_asset_tag global %}
          - /_assets/css/all.css
          - /_assets/css/additional.css
        {% endcss_asset_tag %}

	<link rel="stylesheet" href="{{ site.url }}/assets/css/fontface.css" media="all" type="text/css"/>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/jquery.fancybox.css" media="all" type="text/css"/>
        <script src = "{{ site.url }}/assets/js/underscore-min.js"></script>
        <script src = "{{ site.url }}/assets/js/jquery-1.9.1.min.js"></script>
        <script src = "{{ site.url }}/assets/js/script.js"></script>
        <script src = "{{ site.url }}/assets/js/jquery.fancybox.pack.js"></script>
        <script src = "{{ site.url }}/assets/js/jquery.main.js"></script>

</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="holder">
				<strong class="logo"><a href="/">Pleco</a></strong>
				<div class="col">
					<ul class="ad-nav">
						<li><a href="{{ site.url }}/posts.html">Blog</a></li>
						<li><a href="{{ site.url }}/about.html">About</a></li>
						<li><a href="{{ site.url }}/contact.html">Contact Us</a></li>
						<li><a href="{{ site.url }}/orders.html">My Orders</a></li>
					</ul>
					<ul id="nav">
						<li><a href="{{ site.url }}/product.html">Products</a></li>
						<li><a href="#">Buy Now</a></li>
						<li><a href="{{ site.url }}/support.html">Support</a></li>
						<li><a href="#">Add-on Downloads</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main">
                {{ content }}

			<div class="promo">
				<div class="promo-bg">
					<div class="holder">
						<form action="http://lists.pleco.com/mailman/subscribe/pleco-announce" method="post" name="subscribeform" id="subscribeform">
							<input type="text" class="text" name="email" size="30" placeholder="Get updates via email" />
							<input type="submit" class="submit" name="email-button" value="Subscribe" />
						</form>
						<div class="social">
							<strong>Stay connected with Pleco:</strong>
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="facebook">Facebook</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<p>Copyright &copy; 2001-2010 Pleco Software Incorporated. | <a href="#">Privacy Policy</a></p>
		</div>
	</div>
</body>
</html>
