---
layout: default
---

                        <div class="visual home">
                          <div class = "holder">
                                <h1>{{ page.title }}</h1>
                          </div>
                        </div>

                        <div class="content">
                           <div id="post">
                              <img class = "post-thumbnail" src = "{{ site.url }}/images/posts/{{ page.image }}" />
                              <div class = "post-content">
                                <em>{{ page.date | date: "%d %B %Y" }}</em>
                                {{ content }}
                              </div>
                              <div class = "post-categories">Posted under {{ page.categories | display_categories }}</div>                     
                           </div>
                        </div>
